.pictureBox {
    margin-left: auto;
    margin-right: auto;
}

img {
    max-width: 100%;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.infoBox {
    height: 60px;
    text-align: center;
    margin-bottom: 0;
    margin-top: auto;
    position: relative;
}

.description {
    padding-top: 120px;
    background-color: #222;
    color: #fff;
    max-width: 100%;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-bottom: 0;
}

.likeButton, .deleteButton {
    display: inline-block;
    margin: 3%;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    border: 1px solid black;
    background-color: black;
    color: aliceblue;
    pointer-events: all;
}

.numberLikes {
    position: absolute;
    top: 15px;
    left: 30px;
}

.likeButton {
    position: absolute;
    right: 50px
}

.deleteButton {
    position: absolute;
    right: 10px
}