/* styling for the input section */
.inputBox {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80px;
    background-color: #fff;
    border-radius: 40px;
    padding: 0;
    box-shadow: 8px 10px 10px #095d681a;
    margin-bottom: 30px;
    position: relative;
    margin-top: -50px;
}

.urlIn {
    margin-top: 28px;
    margin-bottom: 28px;
    margin-right: 10%;
    width:30%;
    border: none;
    background-color: #fff;
    font-style: italic;
    font-weight: 100;
    font-size: 16px;
}

.desIn {
    width:50%;
    border: none;
    background-color: #fff;
    font-style: italic;
    font-weight: 100;
    font-size: 16px;
}

.urlIn:focus {
    outline: none;
}

.desIn:focus {
    outline: none;
}
.addButton {
    border: none;
    display: inline-block;
    background-color: #fff;
    font-size: 3rem;
    height: 0px;
    width: 0px;
    position: absolute;
    top: 5px;
    right: 65px;
    pointer-events: all;
}

.addButton:hover {
    color: #bfbfbf;
}